<div class="areas-container vertical" style="flex-wrap: wrap;">
    <div class="dataviz-filter">

        <div class="comparer">

            <h1>Comparer </h1>

            <div class="form-group">
                <button type="radio" class="selecteur" (click)="onSetSpecies($event, speciesModal)"> 2 espèces </button>
                <div class="showSelection">
                    <div *ngFor="let species of onData.species">
                        <span *ngIf="comparedType=='species'"> {{species}} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="radio" class="selecteur" (click)="onSetYears($event, yearsModal)"> 2 années </button>
                <div class="showSelection">
                    <div *ngFor="let year of onData.years">
                        <span *ngIf="comparedType=='years'"> {{year}} </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="radio" class="selecteur" (click)="onSetStages($event, stagesModal)"> 2 stades </button>
                <div class="showSelection">
                    <div *ngFor="let stage of onData.stages">
                        <span *ngIf="comparedType=='stages'"> {{stage}} </span>
                    </div>
                </div>
            </div> 
            <div class="form-group">
                <button type="radio" class="selecteur" (click)="onSetMountains($event, mountainsModal)"> 2 massifs </button>
                <div class="showSelection">
                    <div *ngFor="let mountain of onData.mountains">
                        <span *ngIf="comparedType=='mountains'"> {{mountain}} </span>
                    </div>
                </div>
            </div>

        </div>

        <ng-template #speciesModal>
            <div *ngIf="species && species.features">
                    <div *ngFor="let species of speciesList">
                        <input 
                            type="checkbox" 
                            [value]="species.species.cd_nom" 
                            [id]="species.species.cd_nom"
                            [name]="species.species.nom_complet" 
                            (change)="check_species_number(species); checkSelection()"
                            [(ngModel)]="species.isChecked"
                            class="selectSpecies"
                            [checked]="species.isChecked"
                            [disabled]="!species.isChecked && checkSpeciesNumber>1">
                        <label [for]="species.species.cd_nom">{{ species.species.nom_complet }}</label>
                    </div>
            </div>    
        </ng-template>

        <ng-template #yearsModal>
            <div *ngIf="years">
                    <div *ngFor="let year of yearsList">
                        <input 
                            type="checkbox" 
                            [value]="year.year" 
                            [id]="year.year"
                            [name]="year.year" 
                            (change)="check_years_number(year); checkSelection()"
                            [(ngModel)]="year.isChecked"
                            class="selectYears"
                            [checked]="year.isChecked"
                            [disabled]="!year.isChecked && checkYearsNumber>1">
                        <label [for]="year.year">{{ year.year }}</label>
                    </div>
            </div>    
        </ng-template>

        <ng-template #stagesModal>
            <div *ngIf="stages && stages.features">
                <div *ngFor="let stage of stagesList">
                    <input 
                        type="checkbox" 
                        [value]="stage.stage.name" 
                        [id]="stage.stage.id_species_stage"
                        [name]="stage.stage.name" 
                        (change)="check_stages_number(stage); checkSelection()"
                        [(ngModel)]="stage.isChecked"
                        class="selectStages"
                        [checked]="stage.isChecked"
                        [disabled]="!stage.isChecked && checkStagesNumber>1">
                    <label [for]="stage.stage.id_species_stage">{{ stage.stage.name }}</label>
                </div>
        </div>    
        </ng-template>

        <ng-template #mountainsModal>
            <div *ngIf="mountains">
                    <div *ngFor="let mountain of mountains">
                        <input 
                            type="checkbox" 
                            [value]="mountain.name" 
                            [id]="mountain.name"
                            [name]="mountain.name" 
                            (change)="check_mountains_number(mountain); checkSelection()"
                            [(ngModel)]="mountain.isChecked"
                            class="selectMountains"
                            [checked]="mountain.isChecked"
                            [disabled]="!mountain.isChecked && checkMountainsNumber>1">
                        <label [for]="mountain.name">{{ mountain.name }}</label>
                    </div>
            </div>    
        </ng-template>

        <div class="filtrer">

            <h1>Filtrer </h1>

            <div class="form-group">
                <div *ngIf="species && species.features">
                    <select
                        class="form-control"
                        [formControl]="datavizForm.controls.species"
                        (click)="onSpeciesSelect($event); checkSelection()"
                        >
                        <option value="" enabled [selected]=true>Espèces</option>
                        <option *ngFor="let species of species.features" [value]="species.properties.cd_nom">
                            {{species.properties.nom_complet}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div *ngIf="years">
                    <select
                        class="form-control"
                        [formControl]="datavizForm.controls.years"
                        (click)="onYearsSelect($event); checkSelection()"
                        >
                        <option value="" enabled [selected]=true>Années</option>
                        <option *ngFor="let year of years.years" [value]="year">
                            {{year}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div *ngIf="stages">
                    <select
                        class="form-control"
                        [formControl]="datavizForm.controls.stages"
                        (click)="onStagesSelect($event); checkSelection()"
                        >
                        <option value="" enabled [selected]=true>Stades</option>
                        <option *ngFor="let stage of stagesList" [value]="stage.stage.name">
                            {{stage.stage.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div *ngIf="mountains">
                    <select
                        class="form-control"
                        [formControl]="datavizForm.controls.mountains"
                        (click)="onMountainsSelect($event); checkSelection()"
                        >
                        <option value="" enabled [selected]=true>Massifs</option>
                        <option *ngFor="let mountain of mountains" [value]="mountain.name">
                            {{mountain.name}}</option>
                    </select>
                </div>
            </div>

        </div>

    </div>

</div>