<!-- Ajouter une observation -->
<div class="modal-header">
    <h4 class="modal-title">AJOUTER UN INDIVIDU</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="closeModal()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body add-obs">
    <app-species-site-form
        [area_id]="data.area_id"
        [coords]="data.coords"
        [data]="data"
    ></app-species-site-form>
</div>

<div class="modal-footer">
    <button
        type="submit"
        [disabled]="!form.speciesSiteForm.valid"
        class="btn btn-default btn-outline-primary rounded-0"
        (click)="committed()"
    >
        Valider l'individu
    </button>
</div>
