.tabs {
    background-color: white;
}
.tabs > a {
    flex: 1;
    text-align: center;
    padding: 15px 8px;
    text-transform: uppercase;
    color: #5FB3A7;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 3px solid #e2e2e2;
    cursor: pointer;
}
.tabs > a.selected {
    border-bottom: 3px solid #5FB3A7;
    color: #000000;
}


.app-no-topbar .observations {
    height: calc(100vh - 55px);
    --list-obs-offset: 0px;
    --router-outlet-offset: 0px;
}
.app-no-topbar .row {
    margin: 0;
}

.observations {
    margin: 0px;
    min-height: inherit;
    height: calc(100vh - 137px);
    overflow: hidden;
}

.obs-section {
    width: 100%;
    min-height: 70vh;
    position: relative;
}

.areas-container {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#newObsDiv {
    background: #eee;
    padding: 5px 0px 5px 5px;
    overflow: scroll;
    height: calc(110vh - var(--list-obs-offset));
}
