#list {
    overflow: auto;
}
.see-more-link {
    cursor: pointer;
}

td {
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
}

td span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

td:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
