<div id="list">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Date obs</th>
            <th scope="col">Date saisie</th>
            <th scope="col">Zone</th>
            <th scope="col">Observateur</th>
            <th scope="col">Individu</th>
            <th scope="col">Espèce</th>
            <th scope="col">Etape</th>
            <th scope="col">Impression</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let observation of observations">
            <td>
                <span [ngbTooltip]="observation.properties.date.substring(0, 10) | date: 'longDate'">
                    {{
                        observation.properties.date.substring(0, 10) | date: 'longDate'
                    }}
                </span>
            </td>
            <td>
                <span [ngbTooltip]="observation.properties.timestamp_create.substring(0, 10) | date: 'longDate'">
                    {{
                        observation.properties.timestamp_create.substring(0, 10) | date: 'longDate'
                    }}
                </span>
            </td>
            <td>
                <span [ngbTooltip]="observation.properties.species_site.area.name">
                    {{ observation.properties.species_site.area.name }}
                </span>
            </td>
            <td>
                <span [ngbTooltip]="observation.properties.obs_txt">
                    {{ observation.properties.obs_txt }}
                </span>
            </td>
            <td>
                <span [ngbTooltip]="observation.properties.species_site.name">
                    {{ observation.properties.species_site.name }}
                </span>
            </td>
            <td>
                <span
                    *ngIf="observation.properties.species_site.species"
                    [ngbTooltip]="observation.properties.species_site.species.nom_vern + ', ' + observation.properties.species_site.species.nom_complet"
                >
                    {{ observation.properties.species_site.species.nom_vern }}
                </span>
            </td>
            <td>
                <span [ngbTooltip]="observation.properties.stages_step?.name">
                    {{ observation.properties.stages_step?.name }}
                </span>
            </td>
            <td>
                <span [ngbTooltip]="observation.properties.json_data.remark">
                    {{ observation.properties.json_data.remark }}
                </span>
            </td>
            <td>
                <div *ngIf="admin">
                    <app-areamodalflow
                        [obsUpdateData]="observation.properties"
                    >
                        <i
                            class="fa fa-edit see-more-link"
                            placement="left"
                            ngbTooltip="Editer"
                            btn-open
                        ></i>
                    </app-areamodalflow>
                </div>
                <div>
                    <i
                        [routerLink]="[
                            '/programs',
                            observation.properties.species_site.area.id_program,
                            'areas-observations',
                            observation.properties.id_species_site_observation
                        ]"
                        ngbTooltip="Voir les détails sur cette observation"
                        class="fa fa-eye see-more-link"
                        placement="left"
                    ></i>
                </div>
                <div *ngIf="observation.properties.photos && observation.properties.photos.length">
                    <i
                        (click)="showPhotos(observation.properties.photos)"
                        class="fa fa-camera see-more-link"
                        placement="left"
                        ngbTooltip="Voir les photos"
                    ></i>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshList()">
        </ngb-pagination>

        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshList()">
            <option [ngValue]="10">10 observations par page</option>
            <option [ngValue]="25">25 observations par page</option>
            <option [ngValue]="50">50 observations par page</option>
        </select>
    </div>
</div>
