<div class="areas-container">
    <div class="row tabs">
        <a
            [ngClass]="router.url.endsWith('areas') ? 'selected' : ''"
            [routerLink]="[
            '/programs',
            program_id,
            'areas'
        ]"
        >
            Mes zones d'observation
        </a>
        <a
            [ngClass]="router.url.includes('species_sites') ? 'selected' : ''"
            [routerLink]="[
            '/programs',
            program_id,
            'species_sites'
        ]"
        >
            Ajouter mes observations
        </a>
        <a
            [ngClass]="router.url.includes('areas-observations') ? 'selected' : ''"
            [routerLink]="[
            '/programs',
            program_id,
            'areas-observations'
        ]"
        >
            Visualiser mes observations
        </a>
    </div>
    <div class="row">
        <div class="col-12">
            <app-species-sites-obs-list
                [observations]="observations"
                [program_id]="program_id"
                [userDashboard]="userDashboard"
            >
            </app-species-sites-obs-list>
        </div>
    </div>
</div>
